<div>
  <h4>Comment by <%= comment.author_name %></h4>
  <p class="comment"><%= comment.body %></p>
  <p>
    <span>Posted <%= distance_of_time_in_words(comment.article.created_at, comment.created_at) %> later</span>
    <span><%= link_to "Delete Comment", article_comment_path(@article, comment), method: :delete, data: {confirm: "Really delete the article?"}
 %></span>
  </p>
</div>
